
<nav class="navbar">
  <div class="container">
    <div class="logo">
      <a href="/index.html">
        <img src="/images/munlogo.png" alt="GCI MUN LOGO">
      </a>
    </div>
    <div class="menu-toggle" id="menuToggle" aria-label="Toggle menu" aria-expanded="false" role="button">☰</div>
    <div class="main-menu">
      <ul>
        <li><a href="/index.html">Home</a></li>
        <li><a href="/about-us.html">About Us</a></li>
        <li>
          <span >Conference</span>
          <ul class="dropdown">
            <li><a href="/committees.html">Committees</a></li>
            <li><a href="/resources.html">Resources</a></li>
            <li><a href="/gallery.html">Gallery</a></li>
          </ul>
        </li>
        <li><a href="/Registration.html">Registration</a></li>
        <li><a href="/contact.html">Contact</a></li>
      </ul>
    </div>
  </div>
  
</nav>
